:root {
  --background: #fff;
  --primary: #1f53ee;
  --secondary: #fdfdfd;
  --text: #000000;
  --shadow: #aaaaaa;
  --header: #0f6ef4;
}

[data-theme="dark"] {
  --background: #373636;
  --primary: #5bc3ef;
  --secondary: #d5dae9;
  --text: #efe4e4;
  --header: #2c2727;
  --shadow: #aaaaaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* custom slider styling */
.app-header .app-title {
  display: flex;
  justify-content: center;
  color: white;
}

.app-icon {
  margin-top: 10px;
  height: 80px;
  width: 80px;
}

.homepage-title-div {
  display: flex;
  justify-content: space-between;
}
.search-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* news */

.news-card {
  min-height: 20rem;
  width: 320px;
}
.contents {
  display: flex;
  justify-content: space-between;
}
.key {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--text);
}
.value {
  font-size: 1.1rem;
  color: var(--text);
  margin-left: 20px;
}
p {
  color: var(--text);
}
